
@font-face {
  font-family: "Rubik Spraypaint";
  src: url(../type/Coiny-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
/* custom light en dark mode werkt niet :(*/
html{ 
    color-scheme: light dark;
    --gradient-color-light: light-dark(#efc576, midnightblue);
    --gradient-color-dark:light-dark(#efad76,purple);
  }
html:has( [value="light-theme"]:checked){
    color-scheme:light;
    
}

html:has( [value="dark-theme"]:checked){
    color-scheme:dark;
    
}

body {
    font-family: "Rubik Spraypaint", system-ui;
    display:grid;
    height: 100vh;
    margin: 0%;
  
    background-image: linear-gradient(#efad76,#efc576 67%);
    background-image: linear-gradient(var(--gradient-color-dark),var(--gradient-color-light) 67%);
    background-attachment: fixed;

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 8.5%;
    bottom: 10%;
    z-index: 100;
    right: 2%;


  }
  input{
    display: none;
     }
  label img{
    width: 8em;
    padding: 0%;
    margin: 0%;
  }  
  label img:nth-of-type(2){
      display: none;
     }
  label input:checked ~ img:nth-of-type(1){
      display: none; 
    }
  label input:checked ~ img:nth-of-type(2){
      display: inline;
  }


  /*
  background-attachment: fixed;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:  
    "header"
    "main"
    "footer";
  gap:1em; 
  */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    position: sticky;
    top: 0%;
    margin: 0%;
    padding: 0%;
    height: 5em;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  
  
    h1{
      align-items: center;
      display: flex;
      font-size: 2em;
      
    }
      
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
      font-size: 1em;
        
      }

    @media(width < 20em) {
        header{ 
          height: 10em;
        }
        nav{
          display: flex;
          flex-direction: column;

        }
      }
   }


main {
    /* MAIN IMAGE*/
    grid-area: "main";
    button {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      background-color: inherit;
      border: none;
    img {
      width: auto;
      height: 50em;
        /* grid-area: image; */
        object-fit: cover;

        @media (max-width: 768px) {
        display:grid;
        }

      }}

    /* EERSTE POPOVER*/
    article {
      border-color: black;
      background-color: rgb(0 0 0 / 60%);
      backdrop-filter: blur(2px);
      
      
      img {
        width: 20em;
        height: 15em;
        object-fit: cover;

      }

      /* TWEEDE POPOVER*/
      div {
        border: none;
        background: none;
          img { 
            width: 20em;
            height: 20em;
            object-fit: cover;
            margin: 0;
            padding: 0;
            border: none;
  

 @media(width > 20em) {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header main main"
    "header footer main"
   
          }
      }
    }
  }
  
  footer {
    grid-area: "footer";
  }
  section {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    position: relative;

    p {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 20rem;
      margin-right: auto;
      margin-left: auto;      

    }

  
    @media (min-width: 768px) {
      display: grid;
      grid-area: header;
    }
  }
}
